MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/phonebookApp?retryWrites=true&w=majority
MONGODB_URI_TEMPLATE=mongodb+srv://USERNAME:<password>@CLUSTER.mongodb.net/phonebookApp?retryWrites=true&w=majority
PORT=3001

